* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #6e0303;
}

header {
    background: #ff0000;
    color: #000000;
    padding: 16px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: crimson;
    cursor: pointer;
}

/* Seções */
section {
    padding: 32px;
    margin: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 16px;
}

.sobre-mim {
    display: flex;
    align-items: center;
    gap: 16px;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
}
.cards{
    display: flex;
    gap: 16px;
}   
.card{
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.hobbies{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hobby{
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    gap: 14px;
    transition: transform 0.3s ease, box-shadow 0.4;
}
.hobby:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.hobby i{
    font-size: 32px;
    color: #3f4e58;
}

.hobby p{
    color:#3f4e45;
}
form{
    display: grid;
    gap: 16px;
}
input, textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button{
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 137, 237, 1) 100%);
    color: black;
}
footer{
    margin-top: 20px;
    background: #333;
    color: #fff;
    text-align:center;
    padding: 16px 0;
    position: fixed;
    buttom: 0;
    width: 100%;
}