* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

header {
    background: #ff0000;
    color: #000000;
    padding: 16px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul a:hover {
    color: #3d0000;
    cursor: pointer;
}

section {
    padding: 32px;
    margin: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000;
}
.cards{
    display: flex;
    gap: 16px
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px #000000
}
.card{
    background: #ff0000;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    height: 20%;
    box-shadow: 0 4px 8px #000000;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    text-align: center;
}
.container {
    display: flex;
    justify-content: end;
    align-items: end;
}

