* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
}

header {
    width: 100vw;
    height: 20%;
    text-align: center;
    background-color: #ff0000;
    color:#000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 100vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario {
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    background-color: #ff0000;
}

form {
    width: 85%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

form>label {
    margin-top: 10px;
}

form>a {
    margin-top: 20px;

    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}